<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrVRtQ8ZRA9a4YzX9UNvA-gxa6zgNQCDE</string>
	<key>GCM_SENDER_ID</key>
	<string>1083941675840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petprojectsbookingapp</string>
	<key>PROJECT_ID</key>
	<string>petprojectbookingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>petprojectbookingapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083941675840:ios:c5a43d4663aaad4ec390a5</string>
</dict>
</plist>